---
layout: default
title: Home
---

<style>
.fa-github {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-stack-overflow {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-linkedin {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-twitter {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-graduation-cap {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-envelope {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-github:hover {
  color: #303030;
}

.fa-stack-overflow:hover {
  color: #303030;
}

.fa-linkedin:hover {
  color: #303030;
}

.fa-twitter:hover {
  color: #303030;
}

.fa-graduation-cap:hover {
  color: #303030;
}

.fa-envelope:hover {
  color: #303030;
}

.fa-fw{
  margin-right: 15px;
  margin-left: 15px;
}
</style>

<div id="home">
  <h2>About me</h2>
  <p>I'm a graduate student at <a href="https://csail.mit.edu" target="_blank">MIT CSAIL</a> focusing on computational genomics. More specifically, my graduate research involves developing fast, accurate and easy-to-use algorithms and software for processing the ever-increasing genomic data that is being produced. I focus mainly on third-generation sequencing data, and applications pertaining to it like sequence alignment, assembly, genotyping and phasing. More recently I have also delved into the field of compilers. You can view my projects and CV by clicking the corresponding links in the sidebar.</p>

  <hr />

  <div id="contact-list" style="text-align:center;">
    {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}" target="_blank">
      <i class="fab fa-github fa-2x fa-fw"></i>
    </a>
    {% endif %}

    {% if site.author.stackoverflow %}
    <a href="https://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank">
      <i class="fab fa-stack-overflow fa-2x fa-fw"></i>
    </a>
    {% endif %}

    {% if site.author.twitter %}
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
      <i class="fab fa-twitter fa-2x fa-fw"></i>
    </a>
    {% endif %}

    {% if site.author.linkedin %}
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
      <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </a>
    {% endif %}
  </div>
</div>
