---
layout: default
title: Home
---

<style>
.fa-github {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-stack-overflow {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-linkedin {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-twitter {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-graduation-cap {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-envelope {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  color: #9a9a9a;
  display: inline-block;
}

.fa-github:hover {
  color: #303030;
}

.fa-stack-overflow:hover {
  color: #303030;
}

.fa-linkedin:hover {
  color: #303030;
}

.fa-twitter:hover {
  color: #303030;
}

.fa-graduation-cap:hover {
  color: #303030;
}

.fa-envelope:hover {
  color: #303030;
}

.fa-fw{
  margin-right: 15px;
  margin-left: 15px;
}

a.faicon:hover, a.faicon:focus, a.faicon:active, a.faicon:visited, a.faicon:link {
  text-decoration: none;
}
</style>

<div id="home">
  <h2>About me</h2>
  <p>Founder of <a href="https://exaloop.io" target="_blank">Exaloop</a>, where we build compiler technology to get Python code running at the speed of C or C++, with applications across several domains. I did my PhD at <a href="https://csail.mit.edu" target="_blank">MIT CSAIL</a> focusing on the intersection between computational genomics, high-performance computing, and compilers. You can view my projects and CV by clicking the corresponding links in the sidebar.</p>

  <hr />

  <div id="contact-list" style="text-align:center;">
    {% if site.author.github %}
    <a class="faicon" href="https://github.com/{{ site.author.github }}" target="_blank">
      <i class="fab fa-github fa-2x fa-fw"></i>
    </a>
    {% endif %}

    {% if site.author.stackoverflow %}
    <a class="faicon" href="https://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank">
      <i class="fab fa-stack-overflow fa-2x fa-fw"></i>
    </a>
    {% endif %}

    {% if site.author.twitter %}
    <a class="faicon" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
      <i class="fab fa-twitter fa-2x fa-fw"></i>
    </a>
    {% endif %}

    {% if site.author.linkedin %}
    <a class="faicon" href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
      <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </a>
    {% endif %}
  </div>
</div>
